# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnail cache files
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created during script execution
/tmp/*
.mac-setup-backup/

# Ansible retry files
*.retry

# Environment specific files
.env

